@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800;900&family=Ubuntu:wght@500;700&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif; */
* {
    margin: 0;
    padding: 0;
}

/*  Navbar start here  */
.menu{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    color: #626262!important;
    padding-left: 40px!important;
}

.navbar-light .navbar-nav .nav-link {
    padding-right: 0;
}

.navbar {
    padding-bottom: 0;
    padding: 30px 0;
}

/*  Navbar end here  */


/*  banner start here  */
.img img {
    width: 100%;
}

/*  banner end here  */

/*  photodiary start here  */
.photodiary{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.photodiary h1 {
    color: #626262;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
}
.photodiary p {
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    line-height: 1.8;

}

/*  photodiary end here  */

/*  lifestyle start here  */
.lifestyle {
    width: 90%;
    margin: auto;
}
.items img  {
    width: 100%;
}
.lifestyle h5 {
    color: #b4ad9e;
    text-transform: uppercase;
    margin: 30px 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}
.lifestyle h1 {
    color: #626262;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    
}
.lifestyle p {
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    line-height: 1.8;
}
.item {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*  lifestyle end here  */


/*  newsletter start here  */

.newsletter{
    background: #f0f0f0;
    margin-bottom: 100px;

}
.raw {
    min-height: 300px;  
}
.newsletter h3 {
    color: #333333;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 80px;
    
}

input[type="email"] {
    border: none;
    background: transparent;
    border-bottom: 1px solid #000000;
    width: 70%;
    margin-bottom: 3px;
    
}
 input::placeholder {
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}
.call {
    position: relative;
}
.icon {
    position: absolute;
    top: 64%;
    left: 67%;
}
.again {
    margin-left: 250px;
}
/*  newsletter end here  */

/* loadmore part css start */

.load {
    text-align: center;
    padding: 100px 0;
}

.load-more {

}
.load-more input {
    background: transparent;
    border: none;
    border: 1px solid #000000;
    padding: 20px;
    text-align: center;
}
input[type="button"] {
    font-size: 14px;
    color: #626262;
    font-family: 'Playfair Display', serif;
}

/* loadmore part css end */


/* footer part css start */
footer {
    background: #f0f0f0;
    padding: 30px 0;

}
.footer-content{
    width: 80%;
    margin:  auto;
    justify-content: space-between;
    display: flex;
}
.terms {
    width: 32%;
}
.terms ul{
    display: flex;
    
    justify-content: space-between;
}
.terms ul li{
    list-style: none;
}
.terms ul li a{
   text-decoration: none; 
   color: #000000;
   font-family: 'Playfair Display', serif;
}

.footer-icon {
    width: 25%;
}
.footer-icon ul{
    display: flex;
    justify-content: space-between;
}

.footer-icon ul li{
    list-style: none;
}

.footer-icon ul li a {
    text-decoration: none;
    color: #626262;
    font-family: 'Playfair Display', serif; 
}
.footer-icon ul li a i{
    
}

/* footer part css end */